<header>
    <img routerLink="/home" src="assets/img/myLogo.png">

    <div class="links_container" *ngIf="!smartphonemenu">
        <a routerLink="/home">Home</a>
        <a routerLink="/home">About</a>
        <a routerLink="/home">Projects</a>
    </div>

    <button mat-icon-button *ngIf="smartphonemenu" class="pin-right-upper-corner" [matMenuTriggerFor]="smartphoneMenu">
        <mat-icon>view_headline</mat-icon>
    </button>

    <mat-menu #smartphoneMenu="matMenu">
        <div class="linkssmartphone-positioning">
            <a routerLink="/">Home</a>
            <a routerLink="/">About</a>
            <a routerLink="/">Projects</a>
            <a routerLink="/">Contact</a>
        </div>
    </mat-menu>
</header>