<div id="about" *ngIf="!smartphoneversion && !tabletversion" class="about_container page-p">
    <div class="about_headline_container ea">
        <h2>About</h2>
    </div>

    <div class="first_text_container">
        <span>
            I was born and raised in Bavaria. I'm twenty-five years old and have developed several frontend and backend projects in the last one and a half years ago. From simple websites to complex business applications. What I really appreciate about programming is the perfect balance between creativity and logic. Thanks to the support of the professional programming school "Developer Academy" in Munich, I had the opportunity to learn programming from scratch at the beginning with the web stack HTML, CSS and Javascript. When the backend course was added in February, I was completely thrilled. With the use of server hosting, operating systems such as Linux and the possibility to work with Python and Django, I have found my calling.
        </span>
    </div>

    <div class="between_text_container">
        <img src="../assets/img/AboutImage.jpg">
        <div class="mycontact_data_box">
            <span>EMAIL</span>
            <p>Stefan.huebner97@web.de</p>
            <span>ROLE</span>
            <p>Web Developer<br>(Frontend/Backend)</p>
            <span>PHONE</span>
            <p>(+49) 176 72815950</p>
        </div>
        <div class="text_again">
            <p>
                Learning web development meant for me to be able to express my interests and fun in learning.
                learning can now be presented in a form that leaves something lasting.
                I am ready to take on challenges to improve myself further.
            </p>
        </div>
    </div>

    <div class="moving_icons_container">
        <div class="slide_container ec">
            <img src="../assets/img/html2.png">
            <img src="../assets/img/javascript.png">
            <img src="../assets/img/css2.png">
            <img src="../assets/img/json.png">
            <img src="../assets/img/angular2.png">
            <img src="../assets/img/python2.png">
            <img src="../assets/img/api.png">
            <img src="../assets/img/django.png">
            <!--to fill space in the container-->
            <img src="../assets/img/html2.png">
            <img src="../assets/img/javascript.png">
            <img src="../assets/img/css2.png">
            <img src="../assets/img/json.png">
            <img src="../assets/img/angular2.png">
            <img src="../assets/img/python2.png">
            <img src="../assets/img/api.png">
            <img src="../assets/img/django.png">
            <!--to fill space in the container-->
            <img src="../assets/img/html2.png">
            <img src="../assets/img/javascript.png">
            <img src="../assets/img/css2.png">
            <img src="../assets/img/json.png">
            <img src="../assets/img/angular2.png">
            <img src="../assets/img/python2.png">
            <img src="../assets/img/api.png">
            <img src="../assets/img/django.png"> 
        </div>
    </div>
</div>

<div id="about" *ngIf="smartphoneversion" class="about_container_s page-p-s">
    <div class="about_headline_container_s">
        <h2>About</h2>
    </div>

    <div class="first_text_container">
        <span>
            I was born and raised in Bavaria. I'm twenty-five years old and have developed several frontend and backend projects in the last one and a half years ago. From simple websites to complex business applications. What I really appreciate about programming is the perfect balance between creativity and logic. Thanks to the support of the professional programming school "Developer Academy" in Munich, I had the opportunity to learn programming from scratch at the beginning with the web stack HTML, CSS and Javascript. When the backend course was added in February, I was completely thrilled. With the use of server hosting, operating systems such as Linux and the possibility to work with Python and Django, I have found my calling.
        </span>
    </div>

    <div class="between_text_container_s ecc">
        <img src="../assets/img/AboutImage.jpg">
        <div class="mycontact_data_box_s">
            <span>EMAIL</span>
            <p>Stefan.huebner97@web.de</p>
            <span>ROLE</span>
            <p>Web Developer<br>(Frontend/Backend)</p>
            <span>PHONE</span>
            <p>0176 72815950</p>
        </div>
    </div>

    <div class="text_again">
        <p>
            Learning web development meant for me to be able to express my interests and fun in learning.
            learning can now be presented in a form that leaves something lasting.
            I am ready to take on challenges to improve myself further.
        </p>
    </div>

    <div class="moving_icons_container">
        <div class="slide_container ec">
            <img src="../assets/img/html2.png">
            <img src="../assets/img/javascript.png">
            <img src="../assets/img/css2.png">
            <img src="../assets/img/json.png">
            <img src="../assets/img/angular2.png">
            <img src="../assets/img/python2.png">
            <img src="../assets/img/api.png">
            <img src="../assets/img/django.png">
            <!--to fill space in the container-->
            <img src="../assets/img/html2.png">
            <img src="../assets/img/javascript.png">
            <img src="../assets/img/css2.png">
            <img src="../assets/img/json.png">
            <img src="../assets/img/angular2.png">
            <img src="../assets/img/python2.png">
            <img src="../assets/img/api.png">
            <img src="../assets/img/django.png">
            <!--to fill space in the container-->
            <img src="../assets/img/html2.png">
            <img src="../assets/img/javascript.png">
            <img src="../assets/img/css2.png">
            <img src="../assets/img/json.png">
            <img src="../assets/img/angular2.png">
            <img src="../assets/img/python2.png">
            <img src="../assets/img/api.png">
            <img src="../assets/img/django.png">
        </div>
    </div>

</div>

<div id="about" *ngIf="tabletversion" class="about_container_t page-p-t">
    <div class="about_headline_container_t">
        <h2>About</h2>
    </div>

    <div class="first_text_container">
        <span>
            I was born and raised in Bavaria. I'm twenty-five years old and have developed several frontend and backend projects in the last one and a half years ago. From simple websites to complex business applications. What I really appreciate about programming is the perfect balance between creativity and logic. Thanks to the support of the professional programming school "Developer Academy" in Munich, I had the opportunity to learn programming from scratch at the beginning with the web stack HTML, CSS and Javascript. When the backend course was added in February, I was completely thrilled. With the use of server hosting, operating systems such as Linux and the possibility to work with Python and Django, I have found my calling.
        </span>
    </div>

    <div class="between_text_container_t ecc">
        <img src="../assets/img/AboutImage.jpg">
        <div class="mycontact_data_box_t">
            <span>EMAIL</span>
            <p>Stefan.huebner97@web.de</p>
            <span>ROLE</span>
            <p>Web Developer<br>(Frontend/Backend)</p>
            <span>PHONE</span>
            <p>0176 72815950</p>
        </div>
    </div>

    <div class="text_again">
        <p>
            Learning web development meant for me to be able to express my interests and fun in learning.
            learning can now be presented in a form that leaves something lasting.
            I am ready to take on challenges to improve myself further.
        </p>
    </div>

    <div class="moving_icons_container">
        <div class="slide_container ec">
            <img src="../assets/img/html2.png">
            <img src="../assets/img/javascript.png">
            <img src="../assets/img/css2.png">
            <img src="../assets/img/json.png">
            <img src="../assets/img/angular2.png">
            <img src="../assets/img/python2.png">
            <img src="../assets/img/api.png">
            <img src="../assets/img/django.png">
            <!--to fill space in the container-->
            <img src="../assets/img/html2.png">
            <img src="../assets/img/javascript.png">
            <img src="../assets/img/css2.png">
            <img src="../assets/img/json.png">
            <img src="../assets/img/angular2.png">
            <img src="../assets/img/python2.png">
            <img src="../assets/img/api.png">
            <img src="../assets/img/django.png">
            <!--to fill space in the container-->
            <img src="../assets/img/html2.png">
            <img src="../assets/img/javascript.png">
            <img src="../assets/img/css2.png">
            <img src="../assets/img/json.png">
            <img src="../assets/img/angular2.png">
            <img src="../assets/img/python2.png">
            <img src="../assets/img/api.png">
            <img src="../assets/img/django.png">
        </div>
    </div>

</div>