<div id="about" *ngIf="!smartphoneversion" class="about_container page-p">
    <div class="about_headline_container ea">
        <h2>About</h2>
    </div>

    <div class="first_text_container">
        <span>
            I was born in Bavaria and grew up there. I`m twenty-five years old. Over the last year, I have built a variety of Frontend and Backend projects. From simple websites to complex business applications. What I love about programming is being able to live out my creativity and ideas in a structured way to transform the visible. Thanks to the support of the professional programming school "Developer Academy" in Munich, I had the opportunity to learn programming from scratch using the web stack with Html, CSS, and Javascript. Then I learned how to use bash and cmd with the Linux and Windows operating systems.
            With the framework Django and python I build projects like a chat app or a video platform.
        </span>
    </div>

    <div class="between_text_container">
        <img src="../assets/img/blatt.jpeg">
        <div class="mycontact_data_box">
            <span>EMAIL</span>
            <p>Stefan.huebner97@web.de</p>
            <span>ROLE</span>
            <p>Web Developer<br>(Frontend/Backend)</p>
            <span>PHONE</span>
            <p>0176 72815950</p>
        </div>
        <!-- <div class="text_again">
            <p></p>
        </div> -->
    </div>

    <div class="second_text_container">
        <!-- <span>
            I love summer and the sun. And I like to spend my free time on and in the water. 
        </span> -->
    </div>

</div>

<div id="about" *ngIf="smartphoneversion" class="about_container_s page-p-s">
    <div class="about_headline_container_s">
        <h2>About</h2>
    </div>

    <div class="between_text_container_s ecc">
        <img src="../assets/img/blatt.jpeg">
        <div class="mycontact_data_box_s">
            <span>EMAIL</span>
            <p>Stefan.huebner97@web.de</p>
            <span>ROLE</span>
            <p>Web Developer<br>(Frontend/Backend)</p>
            <span>PHONE</span>
            <p>0176 72815950</p>
        </div>
    </div>

    <div class="second_text_container_s">
        <!-- <span>I was born in Bavaria and grew up there. I`m twenty-four years old. Over the last year, I have built a variety of Frontend and Backend projects. 
        </span> -->
    </div>

</div>