.about_container {
    height: 100vh;
    padding-top: 20px;
    .about_headline_container {
        height: 100px;
        h2 {
            font-size: 70px;
            font-weight: 800;
        }
    }

    .first_text_container {
        color: black;
        margin-bottom: 8px;
        margin-top: 20px;
        color: #999999;
    }

    .between_text_container {
        min-height: 50vh;
        margin-top: 20px;
        position: relative;
        img {
            width: 100%;
            height: 35vh;
            object-fit: cover;
        }

        .text_again {
            position: absolute;
            left: 0;
            bottom: 12%;
            max-width: 55%;
            height: 15%;
            color: #999999;
            // background-color: rgba(0, 0, 0, 0.7);
        }

        .mycontact_data_box {
            position: absolute;
            right: 5%;
            bottom: 10%;
            width: 20%;
            height: 40%;
            background-color: #fee383;
            padding: 8px;
            border-radius: 2px;
            span {
                letter-spacing: 0.2em;
                color: #999999;
                font-size: 18px;
                margin-bottom: 8px;
                margin-top: 16px;
                padding: 4px;
            }
            p {
                font-size: 16px;
                padding: 4px;
            }
        }
    }

    .moving_icons_container {
        // background-color: rgba(0, 0, 0, 0.8);
        width: 100%;
        height: 10%;
        overflow-x: hidden;
        .slide_container {
            width: 100%;
            height: 100%;
            transform: translateX(0);
            animation: loopanimationicons 30s linear infinite;
            img {
                margin-left: 5%;
                margin-right: 5%;
            }
        }
    }
}

@keyframes loopanimationicons {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(100%);
    }
}

// Classes applied to smartphone version

.about_container_s {
    height: fit-content;
    .about_headline_container_s {
        margin-top: 50px;
        margin-bottom: 30px;
        h2 {
            font-weight: 800;
            font-size: 54px;
        }
    }

    .first_text_container {
        color: black;
        font-size: 90%;
        margin-bottom: 8px;
        margin-top: 20px;
        color: #999999;
    }

    .between_text_container_s {
        min-height: 500px;
        margin-top: 20px;
        img {
            width: 100%;
            height: 350px;
            object-fit: cover;
        }

        .mycontact_data_box_s {
            width: 180px;
            height: 180px;
            background-color: #fee383;
            padding: 8px;
            border-radius: 2px;
            margin-top: -100px;
            margin-bottom: 30px;
            span {
                color: #999999;
                font-size: 18px;
                margin-bottom: 8px;
                margin-top: 16px;
                padding: 4px;
            }
            p {
                font-size: 13px;
                color: rgba(0,0,0, 0.8);
                padding: 4px;
            }
        }
    }

    .text_again {
        color: #999999;
        // background-color: rgba(0, 0, 0, 0.7);
    }

    .moving_icons_container {
        margin-bottom: 40px;
        margin-top: 40px;
        width: 100%;
        height: 10%;
        overflow-x: hidden;
        .slide_container {
            width: 100%;
            height: 100%;
            transform: translateX(0);
            animation:loopanimationicons 27s linear infinite;
            img {
                margin-left: 5%;
                margin-right: 5%;
            }
        }
    }
}

// Classes applied to tablet version

.about_container_t {
    height: fit-content;
    .about_headline_container_t {
        margin-top: 50px;
        margin-bottom: 30px;
        h2 {
            font-weight: 800;
            font-size: 54px;
        }
    }

    .first_text_container {
        color: black;
        font-size: 18px;
        margin-bottom: 8px;
        margin-top: 20px;
        color: #999999;
        line-height: 150%;
    }

    .between_text_container_t {
        // background-color: rgba(0, 0, 0, 0.3);
        min-height: 500px;
        margin-top: 20px;
        img {
            width: 100%;
            height: 350px;
            object-fit: cover;
        }

        .mycontact_data_box_t {
            width: 300px;
            height: 200px;
            background-color: #fee383;
            padding: 8px;
            border-radius: 2px;
            margin-top: -100px;
            margin-bottom: 30px;
            span {
                letter-spacing: 0.2em;
                color: #999999;
                font-size: 20px;
                margin-bottom: 8px;
                margin-top: 16px;
                padding: 4px;
            }
            p {
                font-size: 20px;
                color: rgba(0,0,0, 0.8);
                padding: 4px;
            }
        }
    }

    .text_again {
        color: #999999;
        font-size: 18px;
        line-height: 150%;
        // background-color: rgba(0, 0, 0, 0.7);
    }

    .moving_icons_container {
        margin-bottom: 40px;
        margin-top: 40px;
        width: 100%;
        height: 10%;
        overflow-x: hidden;
        .slide_container {
            width: 100%;
            height: 100%;
            transform: translateX(0);
            animation:loopanimationicons 27s linear infinite;
            img {
                margin-left: 5%;
                margin-right: 5%;
            }
        }
    }
}
