<div *ngIf="!smartphoneversion && !tabletversion" class="home_container">
    <div class="first_container">
        <div class="auxiliary_container_pa">
            <div class="introduction_container">
                <span>Hello</span>
                <div class="df">
                    <span>I'm</span>
                    <span>Stefan</span>
                </div>
                <span>Hübner</span>
            </div>
            <div class="cv_links_container">
                <a href="https://github.com/Stefan797" target="_blank">GIT</a>
                <a href="https://www.linkedin.com/in/stefan-h%C3%BCbner-0ba258234/" target="_blank">IN</a>
            </div>
            <div class="seemyportfolio_button_container">
                <button (click)="scroll('projects')">SEE MY PORTFOLIO</button>
            </div>
        </div>
    </div>

    <div class="second_container">
        <div class="auxiliary_container_pa">
            <div class="navigation_container ec">
                <a (click)="scroll('projects')">PROJECTS</a>
                <a (click)="scroll('about')">ABOUT</a>
                <a (click)="scroll('contact')">CONTACT</a>
            </div>
            <div class="picture_container">
                <img src="../assets/img/IMG_3672black-white.jpg">
            </div>
        </div>
    </div>
</div>

<div *ngIf="smartphoneversion" class="home_container_s">
    <div class="picture_container_s">
        <img src="../assets/img/IMG_3672black-white.jpg">
    </div>
    <div class="first_container_s page-p-s ecsc">
        <span>Hello</span>
        <span>I'm Stefan</span>
        <span>Hübner</span>
        <div class="cv_links_container">
            <a href="https://github.com/Stefan797" target="_blank">Git</a>
            <a href="https://www.linkedin.com/in/stefan-h%C3%BCbner-0ba258234/" target="_blank">In</a>
            <!-- <a href="">Xing</a> -->
        </div>

    </div>
    <div class="button_container_s page-p-s">
        <button (click)="scroll('projects')">SEE MY PORTFOLIO</button>
    </div>
</div>

<div *ngIf="tabletversion" class="home_container_t">
    <div class="picture_container_t">
        <img src="../assets/img/IMG_3672black-white.jpg">
    </div>
    <div class="first_container_t page-p-t">
        <div class="usedisplayflex_container">
            <div class="ecsc">
                <span>Hello</span>
                <span>I'm Stefan</span>
                <span>Hübner</span>
                <div class="cv_links_container">
                    <a href="https://github.com/Stefan797" target="_blank">Git</a>
                    <a href="https://www.linkedin.com/in/stefan-h%C3%BCbner-0ba258234/" target="_blank">In</a>
                </div>
            </div>
            <div class="button_container_t ec">
                <button (click)="scroll('projects')">SEE MY PORTFOLIO</button>
            </div>
        </div>
    </div>
</div>